@model WearHouse.Models.LoginValidationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WearHouse_Login</title>
    <link rel="stylesheet" href="~/css/WearHouse_Navbar.css">
    <link rel="stylesheet" href="~/css/WearHouse_Login.css">
    <link rel="stylesheet" href="~/css/WearHouse_Footer.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="" class="navbar-logo">WearHouse</a>

            <ul class="menu">
                <div class="menu-left">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">Category</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">About Us</a>
                </li>
                </div>
                <div class="menu-right">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">Login</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Register" asp-action="Add">Register</a>
                </li>
                </div>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <div class="login">
            <div class="top">
                Login
            </div>
            <div class="bottom">
                <table>
                    <form id="login-form" asp-action="Index" asp-controller="Login" method="post" autocomplete="off">
                    <tr>
                        <td><label for="email">Email Address</label></td>
                        <td>
                            <div class="input-account" id="input-email">
                                <input id="email-input" type="text" required placeholder="asd@asd.com" asp-for="Email">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password" id="input-password">Password</label></td>
                        <td>
                            <div class="input-account">
                                <input id="password-input" type="password" required placeholder="Input Your Password" asp-for="Password">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="checkbox-input"><input type="checkbox" id="checkbox-input"> <label for="remember">Remember Me</label></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="submit">
                                <a href="">
                                    <input type="submit" value="Login" id="submitButton">
                                </a>
                                <a href="">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </td>
                    </tr>
                    </form>
                </table>

                <!-- <div class="email-input">
                    <label for="email">Email Address</label>
                    <input type="email">
                </div> -->
                <!-- <div class="password-input">
                    <label for="password">Password</label>
                    <input type="password">
                </div> -->
                <!-- <div class="remember-me">
                    <input type="checkbox">
                    <label for="remember">Remember Me</label>
                </div>
                <div class="login-forgot">
                    <div class="submit">
                        <a href="">
                            <button>Login</button>
                        </a>
                    </div>
                    <div class="forgot">
                        <a href="">
                            Forgot Your Password?
                        </a>
                    </div>
                </div> -->

            </div>
        </div>
    </main>

    <footer>
        <div class="sosmed">
            <a href="https://twitter.com" target="_blank"><img src="/images/twitterlogo.png" alt="twitter"></a>
            <a href="https://www.facebook.com" target="_blank"><img src="/images/facebooklogo.png" alt="facebook"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/images/instagramlogo.png" alt="instagram"></a>
        </div>
        <div class="copyright">
            Copyright &copy; 2021 [Nathan Jason Lowen]. All Rights Reserved
        </div>
    </footer>

    <script src="~/js/hamburger.js"></script>
    <script src="~/js/login.js"></script>

</body>
</html>