@model WearHouse.Models.AddRegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WearHouse_Register</title>
    <link rel="stylesheet" href="~/css/WearHouse_Navbar.css">
    <link rel="stylesheet" href="~/css/WearHouse_Register.css">
    <link rel="stylesheet" href="~/css/WearHouse_Footer.css">
</head>
<body>

    <header>
        <nav class="navbar">
            <a href="" class="navbar-logo">WearHouse</a>

            <ul class="menu">
                <div class="menu-left">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">Category</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">About Us</a>
                </li>
                </div>
                <div class="menu-right">
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Login" asp-action="Index">Login</a>
                </li>
                <li class="menu-choice">
                    <a class="menu-link" asp-controller="Register" asp-action="Add">Register</a>
                </li>
                </div>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <div class="login">
            <div class="top">
                Register
            </div>
            <div class="bottom">
                <table>
                    <form action="Add" method="post" id="regis-form" autocomplete="off">
                    <tr>
                        <td><label for="name">Name</label></td>
                        <td>
                            <div class="input-account" id="input-name">
                                <input id="name-input" type="text" required placeholder="Input Your Name Here" asp-for="Name">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email Address</label></td>
                        <td>
                            <div class="input-account" id="input-email">
                                <input id="email-input" type="text" required placeholder="asd@asd.com" asp-for="Email">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password" id="input-password">Password</label></td>
                        <td>
                            <div class="input-account">
                                <input id="password-input" type="password" required placeholder="Input Your Password" asp-for="Password">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="confirm-password" id="input-confirm-password">Confirm Password</label></td>
                        <td>
                            <div class="input-account">
                                <input id="confirm-input" type="password" required placeholder="Confirm Your Password">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div id="input-checkbox"><input type="checkbox" id="checkbox-input"> <label for="remember">By clicking register, I agree to the terms and conditions</label></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="submit">
                                <a href="WearHouse_Login.html">
                                    <input type="submit" value="Register">
                                </a>
                            </div>
                        </td>
                    </tr>
                    </form>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <div class="sosmed">
            <a href="https://twitter.com" target="_blank"><img src="/images/twitterlogo.png" alt="twitter"></a>
            <a href="https://www.facebook.com" target="_blank"><img src="/images/facebooklogo.png" alt="facebook"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/images/instagramlogo.png" alt="instagram"></a>
        </div>
        <div class="copyright">
            Copyright &copy; 2021 [Nathan Jason Lowen]. All Rights Reserved
        </div>
    </footer>

    <script src="~/js/hamburger.js"></script>
    <script src="~/js/register.js"></script>

</body>
</html>